<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
</head>
<body>
  
    {% comment %} navbar section {% endcomment %}


    <nav class="navbar navbar-expand-lg navbar-primary bg-primary ">
        <div class="container-fluid">
          <a class="navbar-brand text-light fw-bold" href="#">Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light fw-bold" aria-current="page" href="{% url 'post' %}">Home</a>
              </li>
             
             {% if request.user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link text-light fw-bold" href="{% url 'add_post' %}">Add post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light fw-bold" href="{%url 'profile'%}" >profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                settings
              </a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{%url 'cng_pass_with_old_pass'%}">Change password with old password</a>
                <a class="dropdown-item" href="{%url 'cng_pass_with_out_old_pass'%}">change password without old password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">change user details</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light fw-bold" href="{%url 'logout'%}" >logout</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link text-light fw-bold" href="{%url 'login'%}" >Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light fw-bold" href="{%url 'signup'%}" >Signup</a>
            </li>
             {% endif %}
              
              
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-warning" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>







{% block content %}
    
{% endblock content %}
    





<footer>
  <div class="footer">
    <p>This is a blog website | owner  <a href="https://atiar.pythonanywhere.com/"> Atiar rahaman</a> </p>
  </div>
</footer>
  





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>